<div th:fragment="typing-body">
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <h3 class="content-header-title">Typing for items</h3>
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Items</a></li>
                                <li class="breadcrumb-item active">Typing for items</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content collpase show">
                                <div class="card-body">
                                    <form class="form form-horizontal striped-rows form-bordered">
                                        <div class="form-body">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="projectinput7">Library</label>
                                                <div class="col-md-9">
                                                    <select id="projectinput7" name="budget" class="form-control">
                                                        <option value="0" selected="" disabled="">Library</option>
                                                        <option value="less than 5000$">less than 5000$</option>
                                                        <option value="5000$ - 10000$">5000$ - 10000$</option>
                                                        <option value="10000$ - 20000$">10000$ - 20000$</option>
                                                        <option value="more than 20000$">more than 20000$</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="projectinput7">Category</label>
                                                <div class="col-md-9">
                                                    <select id="projectinput7" name="budget" class="form-control">
                                                        <option value="0" selected="" disabled="">Category</option>
                                                        <option value="less than 5000$">less than 5000$</option>
                                                        <option value="5000$ - 10000$">5000$ - 10000$</option>
                                                        <option value="10000$ - 20000$">10000$ - 20000$</option>
                                                        <option value="more than 20000$">more than 20000$</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="timesheetinput1">Title</label>
                                                <div class="col-md-9">
                                                    <div class="position-relative has-icon-left">
                                                        <input type="text" id="timesheetinput1" class="form-control"
                                                            placeholder="employee name" name="employeename">
                                                        <div class="form-control-position">
                                                            <i class="ft-user"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control">Main Image</label>
                                                <div class="col-md-9">
                                                    <label id="projectinput8" class="file center-block"> <input
                                                        type="file" id="file"> <span class="file-custom"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="timesheetinput7">Short
                                                    Description</label>
                                                <div class="col-md-9">
                                                    <div class="position-relative has-icon-left">
                                                        <textarea id="timesheetinput7" rows="5" class="form-control"
                                                            name="notes" placeholder="short description..."></textarea>
                                                        <div class="form-control-position">
                                                            <i class="ft-file"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row file-repeater">
                                                <label class="col-md-3 label-control">Attached Files </label>
                                                <div class="col-md-9">
                                                    <div data-repeater-list="repeater-list">
                                                        <div data-repeater-item="">
                                                            <div class="row mb-1">
                                                                <div class="col-9 col-xl-10">
                                                                    <label class="file center-block"> <input
                                                                        type="file" id="file"> <span
                                                                        class="file-custom"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-2 col-xl-1">
                                                                    <button type="button" data-repeater-delete=""
                                                                        class="btn btn-icon btn-danger mr-1">
                                                                        <i class="ft-x"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button" data-repeater-create=""
                                                        class="btn btn-primary">
                                                        <i class="ft-plus"></i> Add new file
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group row last">
                                                <label class="col-md-3 label-control" for="timesheetinput7">Description</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control ckeditor" name="editor1" cols="120"
                                                        rows="30"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <button type="button" class="btn btn-warning mr-1">
                                                <i class="ft-x"></i> Cancel
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>