<div th:fragment="statistics-body">
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Zero configuration table -->
                <section id="configuration">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Thống kê số view, like, download</h4>
                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard">
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                                <tr>
                                                    <th><i class="ft ft-box"></i>  Title</th>
                                                    <th><i class="ft ft-user"></i>  Author</th>
                                                    <th><i class="ft ft-package"></i>  Category</th>
                                                    <th><i class="ft ft-check-circle"></i>  Time post</th>
                                                    <th><i class="ft ft-eye"></i>  View</th>
                                                    <th><i class="ft ft-thumbs-up"></i>  Like</th>
                                                    <th><i class="ft ft-download"></i>  Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Title 1</td>
                                                    <td>Trần Linh</td>
                                                    <td>Bài viết</td>
                                                    <td>09/July/2018 20:00</td>
                                                    <td>999</td>
                                                    <td>900</td>
                                                    <td>100</td>
                                                </tr>
                                                <tr>
                                                    <td>Title 2</td>
                                                    <td>Phạm Trường</td>
                                                    <td>Bài viết</td>
                                                    <td>09/July/2018 22:00</td>
                                                    <td>9</td>
                                                    <td>1</td>
                                                    <td>0</td>
                                                </tr>
                                                <tr>
                                                    <td>Title 3</td>
                                                    <td>Quang Hoài</td>
                                                    <td>Thông tin chuyên gia</td>
                                                    <td>09/July/2018 21:00</td>
                                                    <td>10</td>
                                                    <td>5</td>
                                                    <td>1</td>
                                                </tr>
                                                <tr>
                                                    <td>Title 4</td>
                                                    <td>Tô Hoài Bảo</td>
                                                    <td>Bài viết</td>
                                                    <td>09/July/2018 23:00</td>
                                                    <td>20</td>
                                                    <td>0</td>
                                                    <td>1</td>
                                                </tr>


                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th><i class="ft ft-box"></i>  Title</th>
                                                    <th><i class="ft ft-user"></i>  Author</th>
                                                    <th><i class="ft ft-package"></i>  Category</th>
                                                    <th><i class="ft ft-check-circle"></i>  Time post</th>
                                                    <th><i class="ft ft-eye"></i>  View</th>
                                                    <th><i class="ft ft-thumbs-up"></i>  Like</th>
                                                    <th><i class="ft ft-download"></i>  Download</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>