<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="footer">
    <!-- Determine the root context of the application.  -->
    <script th:inline="javascript">
        var _themeroot = /*[[#{theme.root}]]*/ ''; 
    </script>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <footer class="footer footer-static footer-dark">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
            <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2018 <a
                class="text-bold-800 grey darken-2" href="http://myworkspace.vn" target="_blank">MyWorkspace </a>, All
                rights reserved.
            </span> <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Contact ThachLN@mks.com.vn <i
                class="ft-heart pink"></i></span>
        </p>
    </footer>
</div>
</head>