<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="footer">
    <!-- Determine the root context of the application.  -->
    <script th:inline="javascript">
        var _themeroot = /*[[#{theme.root}]]*/ ''; 
    </script>
    
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <footer class="footer footer-static footer-dark">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
      <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2018 <a class="text-bold-800 grey darken-2" href="http://myworkspace.vn"
        target="_blank">MyWorkspace </a>, All rights reserved. </span>
      <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Contact ThachLN@mks.com.vn <i class="ft-heart pink"></i></span>
    </p>
    </footer>
    <!-- BEGIN VENDOR JS-->
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/vendors.min.js'}" ></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/ui/jquery.sticky.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/charts/jquery.sparkline.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/handsontable/handsontable.full.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/handsontable/jsgrid.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/handsontable/languages.min.js'}"></script>
    
    
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/datatable/datatables.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/jquery.dataTables.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/datatable/dataTables.autoFill.min.js'}"></script>
    
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/datatable/dataTables.select.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js'}"></script>

    <!-- BEGIN ROBUST JS-->
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/js/core/app-menu.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/js/core/app.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/js/scripts/customizer.js'}"></script>
    <!-- END ROBUST JS-->
    
<!--     <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/js/scripts/tables/datatables-extensions/datatable-autofill.js'}"></script> -->
    <!-- Code Editor -->
    <script type="text/javascript" th:src="@{/webjars/codemirror/5.33.0/lib/codemirror.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/codemirror/5.33.0/mode/clike/clike.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/codemirror/5.33.0/addon/edit/matchbrackets.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/codemirror/5.33.0/addon/hint/show-hint.js}" ></script>
    
    <script th:src="@{#{theme.root} + 'app-assets/vendors/js/pickers/daterange/daterangepicker.js'}"></script>
    <script th:src="@{#{theme.root} + 'app-assets/vendors/js/forms/validation/jquery.validate.min.js'}"></script>
    <script th:src="@{#{theme.root} + 'app-assets/vendors/js/extensions/jquery.steps.min.js'}"></script>
    <script th:src="@{#{theme.root} + 'app-assets/js/scripts/forms/wizard-steps.js'}"></script>

    <script th:src="@{#{theme.root} + 'app-assets/js/scripts/modal/components-modal.js'}"></script>


    <!-- Determine the root context of the application.  -->
    <script th:inline="javascript"> var _ctx = /*[[@{/}]]*/ ''; 
    </script>
    
    <script th:inline="javascript">
        var customer_code = /*[[#{customer.code}]]*/ '';
        var customer_name = /*[[#{customer.name}]]*/ '';
        var short_name = /*[[#{customer.shortName}]]*/ '';
        var phone = /*[[#{phone}]]*/ '';
        var address = /*[[#{address}]]*/ '';
    </script>
    

  <!-- END PAGE VENDOR JS-->
    </div>
</head>
 