<div th:fragment="screen-body">
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Card animation start -->
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <!-- Horizontal navigation-->
                    <div class="app-content content">
                        <div class="content-wrapper">
                            <div class="content-header row">
                                <div class="content-header-left col-md-6 col-12 mb-2">
                                    <h1 class="content-header-title">Hub Knowledge Service</h1>
                                </div>
                            </div>
                            <div class="content-body">
                                <!-- message options section start -->
                                <section id="message-options">
                                    <div class="row">
                                        <div class="col-12 mt-1 mb-3">
                                            <h4>Dashboard</h4>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Quản lý hệ thống</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Quản lý nội dung</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Thống kê</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Liên hệ, góp ý</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Chức năng cho người dùng cuối</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Hiển thị nội dung</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Người dùng nội bộ</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Công cụ hỗ trợ thiết kế</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Tìm việc</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Liên lạc</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Hỗ trợ kỹ thuật</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <h3>Xác thực nâng cao</h3>
                                                            <p>Get It Message</p>
                                                            <button
                                                                class="btn btn-lg btn-block font-medium-1 btn-outline-success mb-1 block-non-centered-msg">Get
                                                                It</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- // message options section end -->
                            </div>
                        </div>
                    </div>
                    <!-- ////////////////////////////////////////////////////////////////////////////-->
                </div>
                <!-- Bootstrap pricing with glow button -->

                <!-- // Bootstrap pricing with glow button section end -->
                <!-- Card animation end -->
            </div>
        </div>
    </div>
</div>